.active-link {
    background-color: #D1F4F0 !important;
    color: #02432f !important;
    border-radius:16px !important;
}

.nonactive-link {
    color: #D1F4F0 !important;
}

*{
    margin: 0;
    padding: 0;
}

.background-image{
   background-image: url('/element/loginbg.jpg'); 
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}

.background-sidebar{
    background-image: url('/element/bg-max.png');
    border-radius: 0px 32px 32px 0px;
}