*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

body{
    width: 100%;
    height: 100%;
    font-family: Helvetica, sans-serif !important;
    
}

.form-control{
    font-size: 14px;
    font-weight: 400;
}

p{
    font-size: 14px;
    font-weight: 400;
}

.card-login{
    background-color: #F6FFFE !important;
    border-radius: 32px !important;
    max-width: 480px;
    padding: 50px 10px;
    box-shadow: 0 1rem 5rem -1rem rgba(255, 163, 99, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-show{
    background-color: #ffffff !important;
    border-radius: 16px !important;
    padding: 50px;
    box-shadow: 0 1rem 5rem -1rem rgba(0, 0, 0, 0.16);
}


.log-green{
    border-radius: 50px !important;
    background-color: #1CAF82 !important;
    color: white !important;
    font-size: 14px;
    font-weight: 600;

}

.log-outline{
    border-radius: 50px !important;
    background-color: white !important;
    border-color: #1CAF82 !important;
    color: #FFA363 !important; 
    font-size: 14px;
    font-weight: 600;
}

.button-lihat{
    border-radius: 50px !important;
    background-color: #1CAF82 !important;
    color: white !important;
    font-size: 14px;
    font-weight: 600;
}

.login-maskot{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.login-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.katamind{
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}

.tx-login{
    color: #1CAF82;
}

input.sm-checkbox {
    width: 10px !important;
    height: 10px !important;
}

.kategori1{
    background-color:#FFA363 !important;
    border-radius: 16px;
}

.kategori2{
    background-color:#19A177 !important;
    border-radius: 16px;
}

.tambah-ktg{
    color: #999999;
    background-color: white !important;
    border-radius: 16px;
    border-color: #999999;
    border: solid;
}   

.active-link {
    background-color: #D1F4F0 !important;
    color: #02432f !important;
    border-radius: 16px !important;
}

.nonactive-link {
    color: #D1F4F0 !important;
}

.background-image{
   background-image: url('/element/loginbg.jpg'); 
   background-size: cover;
   background-repeat: no-repeat;
   height: 100vh;
}

.background-sidebar{
    background-image: url('/element/bg-max.png');
    border-radius: 0px 32px 32px 0px;
}

.bg-main{
    background-color: #1CAF82;
}

small{
    color: #E06196;
    font-size: 12px;
    font-weight: 400;
}

.berhasil{
    color: #19A177 !important;
}

.judul-utama{
    font-weight: 500;
    font-size: 24px;
    color: black;
}

.judul{
    font-weight: 500;
    font-size: 24px;
    color: #404040;
}

.judul-form-input{
    font-weight: 500;
    font-size: 16px;
    color: #404040;
}

.style-input{
    font-weight: 500;
    font-size: 12px;
    color: #404040;
}

.selectpicker{
    font-weight: 500 !important;
    font-size: 12px !important;
    color: #404040 !important;
}

.button-simpan{
    background-color: #19A177;
    color: white;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
}

.button-batal{
    background-color: #F56E6B;
    color: white;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 600;
}

.se-mind{
    font-weight: 400 !important;
    font-size: 12px !important;
}

.se-mind-color{
    color: #404040 !important;
}

.bg-oren{
    background-color: #FFA363;
    color: white;
    border-radius: 5px !important;
    height: 26px !important;
}

.judul-tabel{
    font-weight: 600;
    font-size: 12px;
    color: #404040;
}

.isi-tabel{
    font-weight: 400;
    font-size: 12px;
    color: #404040;
}

.banyak-data{
    font-weight: 700;
    font-size: 12px;
    color: #1CAF82;
}

.button-show{
    background-color: #F9C534;
}

.button-edit{
    background-color: #6D73D1;
}

.button-hapus{
    background-color: #E06196;
}

.button-tabel{
    background-color: #19A177;
    color: white;
    font-size: 12px;
    font-weight: 400;
}

.btn:hover{
    color: white;
}

.button-search{
    background-color: white !important;
}

.page-link{
    color: #404040;
}

.page-link:hover{
    color: #1CAF82;
}

.active{
    background-color: #1CAF82 !important;
    color: white;
}

.search-mind{
    font-weight: 400 !important;
    font-size: 12px !important;
    color: #999999 !important;
    border-radius: 10px !important;
    background-color: white !important;
    background-image: url('/element/search.svg') !important;
    background-position: 10px 6px !important; 
    background-repeat: no-repeat !important;
    padding: 6px 12px 6px 40px !important;
}

.content-wrapper{
    background-color: white;
}

.sudah-diatur{
    color: #13aa7d !important;
    border-color: #13aa7d !important;;
    background-color: #e0f8f3 !important;
    border-radius: 50px !important;
    font-size: 8px !important;
    font-weight: 500 !important;
    padding: 4px 15px;
    border-style: solid;
    border-width: thin;
}

.belum-diatur{
    color: #E06196 !important;
    border-color: #E06196 !important;;
    background-color: #FAE3EC !important;
    border-radius: 50px !important;
    font-size: 8px !important;
    font-weight: 500 !important;
    padding: 4px 15px;
    border-style: solid;
    border-width: thin;
}

.dipilih{
    border-radius: 50px !important;
    background-color: #1CAF82 !important;
    color: white !important;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 15px;
}

.tidak-dipilih{
    border-radius: 50px !important;
    background-color: #d9d9d9 !important;
    color: #808080 !important;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 15px;
}

.belum-dibaca{
    font-weight: 600;
}

.sudah-dibaca{
    font-weight: 400;
}

.judul-show{
    color: #404040;
    font-size: 24px;
    font-weight: 600;
}

.isi-show{
    color: #404040;
    font-size: 18px;
    font-weight: 400;
}

.isi-image-show{
    color: #6D73D1;
    font-size: 18px;
    font-weight: 400;
}

.password-icon{
    position: absolute;
    right: 10px;
    top: 9px;
    cursor: pointer;
}

.password-wrapper{
    position: relative;
}

.profil-image{
    width: 22px;
    height: 22px;
    object-fit: cover;
    box-shadow: 0px 0px 20px rgba(2, 67, 47, 0.25);
}

.dropbtn {
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 4px;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 4px;
}
  
.dropdown-content {
    font-size: 12px !important;
    display: none;
    position: absolute;
    background-color: white;
    width:70px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 4px;
}
  
.dropdown-content a {
    color: #404040 !important;
    padding: 8px 10px;
    text-decoration: none;
    display: block;
    border-radius: 4px;
}
  
.dropdown-content a:hover {
    background-color: white;
    border-radius: 4px;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 4px;
}
  
.text-kategori{
    font-size: 14px;
    color: white;
    font-weight: 500;
}

.icon-kategori{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border: none !important;
}

.hapus-kategori{
    border: none !important;
    background-color: white;
    color: #404040;
}

a:hover{
    color: #404040;
}

  
table.dataTable tbody tr:nth-child(odd) {
    background-color: #E0F3ED; /* Biru muda */
}

table.dataTable tbody tr:nth-child(even) {
    background-color: #FFFFFF; /* Putih */
}

table.dataTable thead th {
    border-bottom: none !important; /* Menghapus garis bawah */
    box-shadow: none !important; /* Menghapus efek bayangan */
}

/* Menghapus border di bagian bawah tabel */
table.dataTable {
    border-bottom: none !important;
}

    
.dataTables_filter input {
    padding-left: 30px; /* Spasi untuk ikon */
    border-radius: 5px;
    border: 1px solid #D1F4F0;
    height: 30px;
}

.dataTables_wrapper .paginate_button.current {
    background-color: #1CAF82 !important;
    color: white !important;
    border: 1px solid #1CAF82 !important;
}

.dataTables_wrapper .paginate_button:active {
    color: white !important;
}

.dataTables_wrapper .paginate_button.current:hover {
    background-color: white !important;
    color: white !important;
}

/* Mengecilkan ukuran tombol Previous */
.dataTables_wrapper .paginate_button.previous {
    font-size: 12px; /* Ukuran teks */
    padding: 4px 8px; /* Jarak di dalam tombol */
    background-color: none !important; /* Warna latar belakang */
    border: none; /* Border tombol */
}

a.paginate_button.current{
    color: white !important;
}

/* Efek hover pada tombol Previous */
.dataTables_wrapper.paginate_button.previous:hover {
    background-color: none!important; /* Warna saat hover */
}

#example_previous:hover{
    color: #1CAF82 !important;
}

.dataTables_wrapper.paginate_button.next:hover {
    background-color: none !important; /* Warna saat hover */
}

#example_next:hover{
    color: #1CAF82 !important;
}


/* span a.paginate_button.current:active{
    color: white !important;
} */
    
/* Menyesuaikan ukuran tombol angka pada pagination */
.dataTables_wrapper .paginate_button {
    font-size: 12px; /* Ukuran teks */
    padding: 4px 8px; /* Jarak di dalam tombol */
    margin: 2px; /* Memberikan jarak antar tombol */
}

/* Gaya default untuk input pencarian */
.dataTables_filter input {
    border: 2px solid  #eeeeee !important; /* Warna border default */
    border-radius: 5px !important;       /* Opsional: sudut melengkung */
    padding: 5px;                       /* Jarak dalam */
    transition: border-color 0.3s ease; /* Animasi perubahan warna border */
}
  
/* Fokus */
.dataTables_filter input:focus {
    border: 2px solid  #D1F4F0 !important; /* Warna border default */
    outline: none; /* Hilangkan outline default browser */
}

.dataTables_filter input:hover {
    border: 2px solid  #D1F4F0 !important; /* Warna border default */
    outline: none; /* Hilangkan outline default browser */
}

/* Atur teks dalam input pencarian */
div.dataTables_filter input {
    font-weight: 400; /* Hilangkan efek bold */
    font-size: 12px;   /* Kecilkan ukuran font */
    color: #404040;  /* Ubah warna teks (opsional) */
}

/* Atur teks "Show" di bagian kontrol DataTables */
div.dataTables_length label {
    font-weight: 400 !important; /* Hilangkan efek bold */
    font-size: 12px;     /* Kecilkan ukuran font */
    color: #404040;         /* Ubah warna teks (opsional) */
}

/* Atur jarak antara teks "Show" dan dropdown */
div.dataTables_length label {
    display: flex;          /* Pastikan teks dan dropdown ada di satu baris */
    align-items: center;    /* Vertikal sejajar */
    gap: 10px;              /* Jarak horizontal antara teks dan dropdown */
}

/* Atur warna dropdown */
div.dataTables_length select {
    background-color: #FFA363 !important; /* Ubah warna latar belakang dropdown */
    color: #FFFFFF;              /* Ubah warna teks */
    border: none !important; /* Ubah warna border */
    border-radius: 4px;        /* Opsional: Membuat sudut membulat */
    padding: 5px;              /* Opsional: Atur jarak dalam */
    font-size: 12px;           /* Sesuaikan ukuran font */
}

/* Mengubah warna item di dalam dropdown */
div.dataTables_length select option {
    background-color: #FFFFFF; /* Ubah latar belakang item dropdown */
    color: #404040;                /* Ubah warna teks item */
}

/* Mengubah warna teks pada bagian 'Showing' */
div.dataTables_info {
    color: #404040 !important; /* Mengubah warna teks 'Showing' */
    font-weight: 400!important; /* Mengubah teks menjadi tidak tebal */
    font-size: 12px; /* Mengubah ukuran font */
}
  
.email-text{
    color: black;
    font-size: 12px;
}

.is-invalid{
    border-color: #E06196 !important;
}

/* Mengubah warna latar belakang tanggal hari ini dengan transparansi dan jarak */
.fc-day-today {
    background-color: #FFA363 !important; /* Warna kuning dengan transparansi 50% */
    color: white !important; /* Warna teks tetap putih */
    font-weight: 600 !important; /* Membuat teks lebih tebal */
    padding: 10px; /* Memberikan jarak antara teks dan garis tepi */
    border: none !important;
  }

  a[aria-label="Sunday"]{
    color: #F56E6B !important;
  }

  .fc-col-header-cell-cushion{
    font-weight: 400px !important;
    color: #999999 !important;
  }

  .fc-daygrid-day-number{
    font-weight: 400px !important;
    color: #404040; 
  }

  button.fc-today-button.fc-button.fc-button-primary{
    background-color: #19A177 !important;
    border: none !important;
  }